Repository state-of-the-art/BlendNet, pull requests merged in 2020-09, with the labels that each got.

#56 BN-47 Fixed bug with not downloading the existing result
  BlendNet/addon.py
Labels: bug

#78 BN-77 Catching the not-relative dir during the project validation
  BlendNet/blend_file.py
Labels: bug

#80 BN-79 Fixed a couple of issues with aws s3 usage on Windows
  BlendNet/providers/aws/__init__.py
Labels: BlendNet Addon, Platform Win, bug

#82 BN-81 Fixed issue with show logs on windows
  BlendNet/addon.py
  BlendNet/providers/aws/__init__.py
Labels: BlendNet Addon, Platform Win, bug

#88 BN-87 Try to solve the issue with put the same file on server
  BlendNet/Client.py
Labels: BlendNet Addon, Platform Win, bug

#85 BN-84 Basic windows fixes for Addon/Manager
  BlendNet/FileCache.py
  manager.py
Labels: BlendNet Agent, BlendNet Manager, Platform Win, bug

#100 BN-99 Changed the UI to ensure the manager will be active before task run
  BlendNet/addon.py
  __init__.py
Labels: BlendNet Addon, bug

#101 BN-72 CircleCI of BlendNet for Windows platform
  .circleci/config.yml
  .circleci/test_execute_addon.ps1
  .circleci/test_prepare.ps1
  .circleci/test_script_addon.py
Labels: Platform Win
